<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>11.3</string>
	<key>CFBundleDisplayName</key>
	<string>Medicos</string>
	<key>CFBundleIdentifier</key>
	<string>com.raycomsoluciones.Medicos</string>
	<key>CFBundleVersion</key>
	<string>1.6</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Medicos</string>
	<key>XSAppIconAssets</key>
	<string>Media.xcassets/AppIcon.appiconset</string>
	<key>XSLaunchImageAssets</key>
	<string>Media.xcassets/LaunchImage.launchimage</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Aplicación dirigida a profesionales de la salud. Para acceder deberá solicitar su usuario y contraseña en el link de registro</string>
	<key>NSCameraUsageDescription</key>
	<string>Caminando Juntos requiere acceder a tu Camara</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Caminando Juntos requiere acceder a tu Galeria</string>
	<key>Custom Property</key>
	<string></string>
</dict>
</plist>
